@import "tailwindcss";

* {
  font-family: "Pretendard";
}

body {
  margin: 0px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
